#view{
    height: calc(100vh - 95px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #fafafe;
    padding-left: 20px;
    position: relative;
    .ant-splitter{
        height: inherit !important;
        .ant-splitter-panel{
            overflow: inherit;
        }
        .ant-splitter-bar .ant-splitter-bar-dragger::after {
            height: 30px;
            width: 4px;
            background: rgb(112 101 239);
            border-radius: 30px;
            transform: none;
        }
    }
    .r-p{
        // width: 360px;
        width: calc(100% - 100px);
    }
    .menu{
        width: 100px;
        background-color: #7065ef;
        border-left: 1px solid rgba(112, 101, 239, 0.24);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        .items{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 9px;
            margin-top: 97px;
            p{
                position: relative;
                color: #FFF;
                font-size: 14px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;
                padding: 5px 10px;
                cursor: pointer;
                user-select: none;
                transition: all .2s;
                width: 100%;
                // &:after{
                //     content: "";
                //     background: transparent;
                //     transition: all .2s;
                //     border-radius: 0 30px 30px 0;
                //     width: 108%;
                //     height: 100%;
                //     position: absolute;
                //     top: 0;
                //     left: -4px;
                //     z-index: -1;
                // }
                &.active{
                    border-radius: 0 30px 30px 0;
                    // color: #7065ef;
                    // &:after{
                    //     background: #fafafe;
                    // }
                    color: #7065ef;
                    background-color: #FFF;
                }
                svg{
                    display: block;
                    width: 100%;
                    margin-bottom: 3px;
                    font-size: 22px;
                }
            }
        }
        
    }
}
#home{
    .content{
        justify-content: center;
        background-color: #7065ef24;
        min-height: calc(100vh - 77px);
        .upload{
            height: fit-content;
            margin: 0 auto;
            padding-top: 50px;
            .dropzone{
                margin: 0 auto;
                width: 375px;
                height: 175px;
                color: #7065ef;
                font-size: 20px;
                font-weight: 600;
                position: relative;
                align-items: center;
                border-radius: 7px;
                border: 2px dashed #7065ef;
                cursor: pointer;
                background: rgb(112 101 239 / 10%);
                overflow: hidden;
                .upload-btn{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.2s;
                    flex-wrap: wrap;
                    height: fit-content;
                    padding: 0 30px;
                    margin-top: 25px;
                    margin-bottom: 32px;
                    p{
                        width: 100%;
                        margin: 0;
                        font-weight: 500;
                        font-size: 12px;
                        text-align: center;
                        line-height: 1.6;
                    }
                    svg{
                        font-size: 50px;
                        color: #7065ef;
                        margin-bottom: 10px;
                    }
                    input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        opacity: 0;
                    }
                    &.loading{
                        margin-top: -150px;
                    }
                }
                .upLoading{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: all 0.2s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        color: #7065ef;
                    }
                }
            }
        }
        .hist{
            margin-top: 60px;
            padding: 0 40px;
            padding-bottom: 60px;
            h3{
                color: #0d133a;
                font-size: 18px;
                font-weight: 600;
            }
            .items{
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
                .item{
                    background: #FFF;
                    border-radius: 3px;
                    padding: 15px;
                    width: 170px;
                    box-shadow: 0 2px 6px 3px #7065ef21;
                    transition: all .2s;
                    user-select: none;
                    &:hover{
                        box-shadow: 0 2px 6px 3px #7165ef72;
                    }
                    p{
                        margin: 0;
                        width: 100%;
                        font-size: 13px;
                        margin-bottom: 7px;
                        color: #222;
                        font-weight: 500;
                        svg{
                            font-size: 16px;
                            position: relative;
                            top: 3px;
                        }
                    }
                    .opt{
                        display: flex;
                        gap: 6px;
                        justify-content: center;
                        margin-top: 20px;
                        button{
                            height: 28px;
                            padding: 0px 18px;
                            border-radius: 3px;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .ant-typography {
                color: #0d133a;
                font-size: 13px;
            }
            .ant-empty .ant-empty-image {
                height: 80px;
            }
        }
    }
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover{
    background: #7065ef36;
}
.ant-dropdown .ant-dropdown-menu {
    .ant-dropdown-menu-title-content {
        flex: auto;
        font-weight: 500;
        font-size: 12px;
        user-select: none;
    } 
}