#home{
    height: calc(100vh - 90px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #fafafe;
    padding-left: 20px;
    position: relative;
    .ant-splitter{
        height: inherit !important;
        .ant-splitter-panel{
            overflow: inherit;
        }
        .ant-splitter-bar .ant-splitter-bar-dragger::after {
            height: 30px;
            width: 4px;
            background: rgb(112 101 239);
            border-radius: 30px;
            transform: none;
        }
    }
    .r-p{
        // width: 360px;
        width: calc(100% - 100px);
    }
    .menu{
        width: 100px;
        background-color: #7065ef;
        border-left: 1px solid rgba(112, 101, 239, 0.24);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        .items{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 9px;
            margin-top: 97px;
            p{
                position: relative;
                color: #FFF;
                font-size: 14px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;
                padding: 5px 10px;
                cursor: pointer;
                user-select: none;
                transition: all .2s;
                width: 100%;
                // &:after{
                //     content: "";
                //     background: transparent;
                //     transition: all .2s;
                //     border-radius: 0 30px 30px 0;
                //     width: 108%;
                //     height: 100%;
                //     position: absolute;
                //     top: 0;
                //     left: -4px;
                //     z-index: -1;
                // }
                &.active{
                    border-radius: 0 30px 30px 0;
                    // color: #7065ef;
                    // &:after{
                    //     background: #fafafe;
                    // }
                    color: #7065ef;
                    background-color: #FFF;
                }
                svg{
                    display: block;
                    width: 100%;
                    margin-bottom: 3px;
                    font-size: 22px;
                }
            }
        }
        
    }
}